.menubtn {
background-color: white;
color:#4da6ff;
font-size: large;
}
.menubtn:hover{
background-color:#4da6ff ;
color: white;
}
.bntcheckout{
    font-size: large;
    width: 200px;
    border-radius:10px;
background-color:#4da6ff ;
color: white;
}