<ion-header>
  <br>
  <a shape="round" style="margin:15px;text-decoration: none;" color="light" routerLink="/first-page" > < Retour</a>
</ion-header>

<ion-content>
  <br>
<div style="text-align: center;">
  <ion-grid>
    <ion-row style="border:1px solid gray ;">
      <ion-col style="border:1px solid gray ;">
        <button class="menubtn">Lavage</button>
      </ion-col>
      <ion-col style="border:1px solid gray ;">
        <button class="menubtn">Repassage</button>
      </ion-col>
      <ion-col style="border:1px solid gray ;">
        <button class="menubtn">Lavage/Repassage</button>
      </ion-col>
    </ion-row>
    <ion-list style="margin: 10px;">
      <ion-item-sliding >
      <ion-item *ngFor="let item of articlee">
        <ion-label >{{item.label}}</ion-label>
        <div >
        <button style="border-radius: 9px;"  > + </button>
        <label style="margin:5px;" for="achat">{{nbrachat}}</label>
        <button style="border-radius: 9px;" > - </button>
        </div>
        <ion-label slot="end"  style="font-size: 10px;color: gray;padding-left:20px;">Prix :{{item.prix}} Dh</ion-label>
        <ion-avatar slot="start">
          <img [src]="item.image" alt="">
        </ion-avatar>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread()">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </ion-grid>
  <ion-button class="bntcheckout" >Checkout</ion-button>

</div>
</ion-content>
