<!--<ion-header>
  <br>
  <a shape="round" style="margin:15px;text-decoration: none;" color="light" routerLink="/first-page">
    < Retour</a>
</ion-header>-->


<ion-content>
  <br>
  <img routerLink="/login" style="margin-left:15px;" width="40px" src="assets/goback.svg" alt="">
  <div style="text-align: center;background-color: aliceblue;">

    <ion-toolbar class="toolbar toolbar-md">
      <div class="toolbar-content toolbar-content-md">
        <ion-segment class="segment segment-md ng-valid ng-touched ng-dirty"  [(ngModel)]="type">
          <ion-segment-button class="segment-button" role="button" (click)="lavage()" value="lavage">
            Lavage
          </ion-segment-button>
          <ion-segment-button class="segment-button" role="button" (click)="repassage()">
            Repassage
          </ion-segment-button>
          <ion-segment-button class="segment-button" role="button" (click)="lavageRepassage()"
          style="width: 200px;">
            Lavage/Repassage
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-toolbar>
    <div *ngIf="isLavage">
      <ion-list style="margin: 10px;">
        <ion-item-sliding>
          <ion-item *ngFor="let item of articleLavage">
            <ion-label>{{item.label}}</ion-label>
            <div>
              <button type="submit" (click)="plusLavage(item.id)" max="30"> + </button>
              <label style="margin:5px;" for="achat">{{item.quantity}}</label>
              <!-- Make the - Button just desapear after + button click -->
              <button *ngIf="item.quantity>0" type="button" (click)="moisLavage(item.id)" min="0"> - </button>
            </div>
            <ion-label slot="end" style="font-size: 10px;color: gray;padding-left:20px;">Prix :{{item.prix}} Dh
            </ion-label>
            <ion-avatar slot="start">
              <img [src]="item.image" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread()">Unread</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div *ngIf="isPassage">
      <ion-list style="margin: 10px;">
        <ion-item-sliding>
          <ion-item *ngFor="let item of articlePassage">
            <ion-label>{{item.label}}</ion-label>
            <div>
              <button type="submit" (click)="plusPassage(item.id)" max="30"> + </button>
              <label style="margin:5px;" for="achat">{{item.quantity}}</label>
              <button *ngIf="item.quantity>0" type="button" (click)="moisPassage(item)" min="0"> - </button>
            </div>
            <ion-label slot="end" style="font-size: 10px;color: gray;padding-left:20px;">Prix :{{item.prix}} Dh
            </ion-label>
            <ion-avatar slot="start">
              <img [src]="item.image" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread()">Unread</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div *ngIf="isLavagePassage">
      <ion-list style="margin: 10px;">
        <ion-item-sliding>
          <ion-item *ngFor="let item of articleLavagePassage">
            <ion-label>{{item.label}}</ion-label>
            <div>
              <button type="submit" (click)="plusLavagePassage(item.id)" max="30"> + </button>
              <label style="margin:5px;" for="achat">{{item.quantity}}</label>
              <button *ngIf="item.quantity>0" type="button" (click)="moisLavagePassage(item.id)" min="0"> - </button>
            </div>
            <ion-label slot="end" style="font-size: 10px;color: gray;padding-left:20px;">Prix :{{item.prix}} Dh
            </ion-label>
            <ion-avatar slot="start">
              <img [src]="item.image" alt="">
            </ion-avatar>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread()">Unread</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <ion-button  class="bntcheckout" (click)="checkout()">Checkout</ion-button><br><br>
  </div>
  
</ion-content>