<!--<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <br> <br>
  <ion-button shape="round" style="margin:15px;" color="light" routerLink="/first-page" >Back</ion-button>

<br><br><br>
<h3 style="text-align:center;">Already have Account ?</h3> <br><br>
<div style="text-align:center;">

  <br>
 <input placeholder="Email" type="text" name="" id=""> <br> <br>
 <input placeholder="Password" type="password" name="" id=""> <br>
 <a href="#">Mot de pass Oublier ?</a> <br><br>
 <ion-button color="success">Login</ion-button> <br><br>
 <a href="#">Register</a> <br><br>



</div>

</ion-content>
