ion-item{
    --background:white;
    --color: black;
    border-radius:5px;
}
ion-button{
    --background:lightgray;
}

ion-grid{

    position: relative;
    top: 200px;
}
img{
    text-align: center;
}