
<ion-content style="background-color:#F2F4F8;">
  <br><br><br>
  <!--<ion-button shape="round" style="margin:15px;width: 50px;" color="light" routerLink="/first-page">Back</ion-button>-->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div style="background-color:#3399ff;border-radius: 10px;margin:10px;">
      <br>
      <div style="text-align:center;">
        <img style="height: 120px;"
          src="assets/utilisateur.png">
        <br><br>
        <div style="color: red; padding-top: 0.2rem" *ngIf="displayErreurLogin">
              Email ou Mode de passe est incorrect
        </div>
        <div style="padding:10px; border-radius:5px;">
          <ion-item>
            <ion-input name="email" type="email" placeholder="Votre@email.com" formControlName="email"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Mot de pass" formControlName="password"></ion-input>
          </ion-item>
        </div>
        <a style="color:white;">Mot de passe Oublier ?</a>
        <br><br>
        <ion-button  color="light" type="submit">Connecte</ion-button> <br><br>
        <a style="color:white;" routerLink="/register">S'inscrire</a>
      </div> <br><br>
    </div>
  </form>
</ion-content> 

<!--<ion-content >
  
  <form [formGroup]="loginForm" (ngSubmit)="login()" style="text-align:center;" >
    <ion-grid class="center">
      <ion-row color="primary">
        <img src="assets/in.png" style="height: 80px;" alt="">
        <ion-col align-self-center size-md="6" size-lg="3" size-xs="12">
          <div style="text-align: center;">
            <h3>LOGIN</h3>
          </div>
          <br><br>
          <div style="color: red; padding-top: 0.2rem" *ngIf="displayErreurLogin">
            Email ou Mode de passe est incorrect
          </div>
          <div>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" formControlName="password"></ion-input>
            </ion-item>
          </div>
          <br><br>
          <div>
            <ion-button size="large" type="submit" [disabled]="loginForm.invalid" expand="block">Se Connecter</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <div style="text-align: center;">
      <a style="text-decoration: none;" routerLink='/register'>
          Register</a>
      </div>
    </ion-grid>
  </form>
  <ion-row>

  </ion-row>
</ion-content>  -->
