<ion-content>
  <br>
  <img routerLink="/my-adress" style="margin:8px;" width="40px" src="assets/goback.svg" alt="">
  <br>

  <ion-toolbar class="toolbar toolbar-md">
    <div class="toolbar-content toolbar-content-md">
      <ion-segment class="segment segment-md ng-valid ng-touched ng-dirty" [(ngModel)]="type">
        <ion-segment-button class="segment-button" role="button" (click)="collecter()" value="collecter">
          Collecter
        </ion-segment-button>
        <ion-segment-button class="segment-button" role="button" (click)="livraison()">
          Livraison
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
  <form [formGroup]="collecterForm">


    <div *ngIf="isCollecter">

      <div style="text-align:center;margin:10px;
            border-radius:6px;
            background-color:light;">
        <ion-label>
          Selectionner la date et l'heur slvp
        </ion-label>
      </div>
      <div style="text-align:center;background-color:lightgrey;border-radius:8px;margin: 10px;">
        <br>
        <label style="margin: 8px;" class="input-group-text">Choisie le Jour : </label>

        <input class="form-control" type="date" [min]="minDate" [(ngModel)]="clientDate"
          (change)="keepDateCollecte($event)" formControlName="collectDate" /> <br>

        <label style="margin: 8px;" class="input-group-text">Choisie l'heure : </label>

        <input class="form-control" type="time" [(ngModel)]="clientTime" (change)="keepTimeCollecte($event)"
          formControlName="collectTime" />
        <br>
      </div>
    </div>
    <div *ngIf="isLivraison">
      <div style="text-align:center;margin:10px;
            border-radius:6px;
            background-color:light;">
        <ion-label>
          Selectionner la date et l'heur slvp
        </ion-label>
      </div>
      <div style="text-align:center;background-color:lightgrey;border-radius:8px;margin: 10px;">
        <br>
        <label style="margin: 8px;" class="input-group-text">Choisie le Jour : </label>

        <input class="form-control" type="date" [min]="minDate" [(ngModel)]="livreurDate"
          (change)="keepDateLivreure($event)" formControlName="livreureDate" /> <br>

        <label style="margin: 8px;" class="input-group-text">Choisie l'heure : </label>

        <input class="form-control" type="time" [(ngModel)]="livreurTime" (change)="keepTimeLivreure($event)"
          formControlName="livreureTime" />
        <br>
      </div>
    </div>

    <ion-footer>
      <ion-toolbar>
        <ion-label for="paiment">choisie votre methode de paiment slvp</ion-label>
        <div style="text-align:center;margin:4px;">
          <!--<ion-input type="radio" name="COD" id="cod">Paiement à la livraison</ion-input>
        <ion-input type="radio" name="COD" id="cod">Paiement avec Carte</ion-input>-->
          <ion-list>
            <ion-radio-group value="biff" formControlName="pay">
              <ion-item>
                <ion-label>Paiement à la livraison</ion-label>
                <ion-radio value="cod" name="pay" ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Payer avec carte Bancaire</ion-label>
                <ion-radio value="carte" name="pay" ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <!-- butto appear when the  livraison and pickup date checked-->
          <ion-button [disabled]="collecterForm.invalid">Payement</ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </form>
  <br>
</ion-content>