<!--<ion-header>
  <ion-toolbar>
    <ion-title>Date(Collectation/Livraison)</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <br>
  <img routerLink="/my-adress" style="margin:8px;" width="40px" src="assets/goback.svg" alt="">
  <br><br><br>
<div>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Collecter</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Livrez</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>
<br>
<div style="text-align:center;margin:10px;
            border-radius:6px;
            background-color:light;">
  <ion-label >
    Selectionner une date de variable of picks of delivery
  </ion-label>
   <ion-slides >
    <!--  Build a loop of date days-->
    <!--  Make the button shown if clicked or not -->
     <!-- <ion-button style="width:40%;">Lundi,02,Juill</ion-button>
      <ion-button style="width:40%;"> Lundi,03,Juill</ion-button>
      <ion-button style="width:40%;"> Lundi,04,Juill</ion-button>
      <ion-button style="width:40%;" > Lundi,05,Juill</ion-button>
      <ion-button style="width:40%;"> Lundi,06,Juill</ion-button>-->
      <!--<ion-item>
        <ion-label id="">Lundi,02,Juill</ion-label>
        <ion-checkbox id=""></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label id="">Lundi,03,Juill</ion-label>
        <ion-checkbox id=""></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label id="">Lundi,04,Juill</ion-label>
        <ion-checkbox id=""></ion-checkbox>
      </ion-item>-->
   </ion-slides>
</div>
<!-- <div style="text-align:center;">
  <ion-label>
    Selectionner l'heure de variable of picks of delivery
  </ion-label><br>
  <ion-item style="margin:10px;border-radius:6px;" color="light">
    <ion-slides > -->
      <!--  Build a loop of date Heurs-->
      <!--  Make the button shown if clicked or not -->
   <!--   <ion-button style="width:40%;">09:00 - 10:00</ion-button>
      <ion-button style="width:40%;"> 10:00 - 11:00</ion-button>
      <ion-button style="width:40%;"> 11:00 - 12:00</ion-button>
      <ion-button style="width:40%;" > 12:00 - 13:00</ion-button>
      <ion-button style="width:40%;"> 13:00 - 14:00</ion-button>
     </ion-slides>
  </ion-item>
  </div>-->
   <div style="text-align:center;background-color:lightgrey;border-radius:8px;margin: 10px;">
    <br>
    <label style="margin: 8px;" class="input-group-text" for="">pick your day : </label>
    <input class="form-control" type="date" (change)="test($event)" [min]="minDate"/> <br><br>
    <label style="margin: 8px;" class="input-group-text" for="">pick the time : </label>
    <input class="form-control" type="time" name="" id="" />
    <br><br>
   </div>
  <ion-footer>
    <ion-toolbar>
      <ion-label for="paiment">choisie votre methode de paiment slvp</ion-label>
      <div style="text-align:center;margin: 6px;">
        <!--<ion-input type="radio" name="COD" id="cod">Paiement à la livraison</ion-input>
        <ion-input type="radio" name="COD" id="cod">Paiement avec Carte</ion-input>-->
        <ion-list radio-group multiselectable="false" >
          <ion-item>
            <ion-label>Paiement à la livraison</ion-label>
            <ion-radio value="cod" ></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>payer avec carte</ion-label>
            <ion-radio value="carte"></ion-radio>
          </ion-item>
        </ion-list>
        <!-- butto appear when the  livraison and pickup date checked-->
          <ion-button disabled="">Payement</ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
  <br><br>
</ion-content>
