<!-- <ion-header>
  <ion-toolbar>
    <ion-title>firstPage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="background-color:#0099ff;width: fill;height:60%;"><br>
    <img style="padding:10px;" src="assets/logo.png" alt="">
  </div>
  <img src="assets/wave.svg" alt="">
  <br><br><br>
  <div style="text-align: center;">
    <ion-button routerLink="/login" style="width: 150px;" shape="round" color="primary" >Déja Client?</ion-button><br>
    <ion-button routerLink="/product-menu" style="width: 150px;" shape="round" color="light">Commander</ion-button>
  </div>
</ion-content>

