<ion-header>

</ion-header>

<ion-content>
  <br>
  <ion-toolbar>
    <img routerLink="/checkout" style="margin: 8px;" width="40px;" src="assets/goback.svg" alt="">
    <ion-title style="text-align:center;">My Adress</ion-title>
  </ion-toolbar>
  <div>
    <h6 style="text-align:center;">your Current Adress</h6>
    <ion-item style="border:2px solid lightgray;border-radius: 6px ;margin:10px;">
      <ion-avatar>
        <img src="assets/home.png" alt="">
      </ion-avatar>
      <ion-label style="padding:8px;"> Home : W32F+50W. Temara. Morocco</ion-label>
      <ion-label slot="end" style="font-size: 10px;color: gray;padding-left:20px;">
      </ion-label>
    </ion-item>
    <ion-item style="border:2px solid lightgray;border-radius: 6px ;margin:10px;">
      <ion-avatar>
        <img width="20px" src="assets/gps.png" alt="">
      </ion-avatar>
      <ion-label style="padding:8px;"> Autre : Ashams Residence, Temara, Morocco </ion-label>
      <ion-label slot="end" style="font-size: 10px;color: gray;padding-left:20px;">
      </ion-label>
    </ion-item>
  </div>
  <h6 style="text-align:center;">pick your Adress</h6>
  <div class="choisiville">
    <ion-list>
      <ion-item class="form-control">
        <ion-select placeholder="Select ville" >
          <ion-select-option *ngFor="let ville of villes">{{ville.city}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <!-- <ion-list >
    <ion-item class="form-control">
      <ion-select placeholder="Select localisation">
        <ion-select-option value="Casa">CasaBlanca</ion-select-option>
        <ion-select-option value="Rabat">Rabat</ion-select-option>
        <ion-select-option value="Tanger">Tanger</ion-select-option>
        <ion-select-option value="Marakesh">Marakesh</ion-select-option>
        <ion-select-option value="Agadir">Agadir</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->
  </div>
  <div style="text-align:center;">
    <ion-footer>
      <ion-button fill="outline">+ Ajouter une Adress</ion-button><br>
      <ion-button routerLink="/collect-livraison" color="secondary"> Next</ion-button>
    </ion-footer>
  </div>

</ion-content>