ion-footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #B6EDFF; 
    text-align: center;
    border-radius:12px;
    
  }
  ion-button{
    margin:10px;
  }
  input{
    margin:12px;
  }
  .choisiville{
      text-align: center;
      margin: 15px;
  }