<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <br><br>
  <ion-button routerLink="/login" color="light" style="width: 50px;margin:8px;">Back</ion-button>
  <br><br>
<h3 style="text-align:center;">Register</h3><br>
<div style="text-align:center ;">
<input type="text" placeholder="name"><br><br>
<input type="email" placeholder="email"><br><br>
<input type="tel" placeholder="telephone"><br><br>
<input type="password" placeholder="password"><br><br>
<input type="text" placeholder="ville"><br><br>
<input type="radio" placeholder="male" >male
<input type="radio" placeholder="femal">femal<br><br>
<ion-button color="primary">Register</ion-button>
</div>
</ion-content> -->

<ion-content >
  <br><br>
  <ion-button routerLink="/login" style="width:60px; margin: 10px;" color="light" >Retour</ion-button>
  <br><br> 
  <form  [formGroup]="registerFrom" (ngSubmit)="register()">
    <ion-grid style="text-align: center; background-color:#3399ff; margin: 10px; border-radius: 8px;">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div >
            <h3 style="color:white">créez votre compte</h3>
          </div>
          <div >
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nom" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="vitre@email.com" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="mot de passe" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Retap le mot de passe " formControlName="confirm_password"></ion-input>
            </ion-item>
            <div style="color: red; padding-top: 0.2rem" *ngIf="checkPassword">
              Password incorrect
            </div>
          </div>
          <br>
          <div >
            <ion-button size="large" type="submit" [disabled]="registerFrom.invalid" expand="block">S'inscrire</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
